.form  {
  box-sizing: border-box;
  width: 55vw;
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  background-color:  rgb(46, 73, 51);
}

.form input, select, textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 0.3rem 1rem;
  margin: 1rem 0;
}

.form .button {
  width: 100%;
  color: rgb(234, 255, 234);
  background-image: url('../images/btn.svg');
  font-size: 1.1rem;
  border: rgb(25, 30, 26) 2px solid;
  border-radius: 10px;
}

.form .button:hover {
  color: rgb(25, 30, 26);
  background-image: url('../images/btn-hover.svg');
}

@media screen and (max-width: 600px) {
  .form {
   width: 95vw;
  }
}
