.logo {
  box-sizing: border-box;
  width: 100%;
  top: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--deep-dark);
  padding: 1rem 0;
}