.main-nav {
  top:175px;
  right: 0;
  position: absolute;
  box-sizing: border-box;
  width: 35vw;
  margin: 0;
  background-color: var(--dark-green);
  font-size: 1.2rem;
}

.main-nav a,
.main-nav a:visited,
.main-nav a:active {
  display: block;
  margin: 0;
  padding: 1rem 0.5rem;
  color: var(---light-green);
  text-decoration: none;
}

.main-nav .selected,
.main-nav .selected:visited,
.main-nav .selected:active {
  color: var(--green);
  background-color: var(--deep-dark);
}

.main-nav a:hover,
.main-nav .selected:hover {
  background-color: var(--green);
  color: var(--deep-dark);
}

@media screen and (max-width: 600px) {
  .main-nav, .main-nav ul {
    width: 100%;
    position: static;
    display: flex;
    justify-content: start;
    align-items: center;;
  }

  .main-nav a {
    height: 1.5rem;
    line-height: 2rem;
  }
}