.main {
  max-width: 30%;
  box-sizing: border-box;
  float: left;
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 20%;
}

.main h1 {
  border-top-right-radius: 30px;
  min-width: 220px;
  box-sizing: border-box;
  font-size: 1.4rem;
  padding: 1rem;
  background-color: var(--vivid-green);
  border: 2px rgb(106, 137, 109) solid;
}

.main h2 {
  font-size: 1.2rem;
}

.main img {
  box-sizing: border-box;
  width: 55vw;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  background-color:rgb(110, 119, 107);
  box-shadow: 5px 5px 5px var(--deep-dark);
}

.main p {
  padding: 0.3rem 0;
}

@media screen and (max-width: 600px) {
  .main {
    max-width: 99vw;
  }

  .main img {
    width: 100%;
  }

  .main h1 {
    font-size: 1.1rem;
  }
}