:root {
  --green: #8FF79B;
  --light-green: #d4ffdf;
  --mute-green: #657f68;
  --deep-green: rgb(37, 60, 41);
  --dark: #3a423c;
  --deep-dark: #212522;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  background: var(--dark);
  color: var(--light-green);
  text-align: start;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}






