.side-menu {
  box-sizing: border-box;
  bottom: 125px;
  right: 0;
  position: absolute;
  width: 35vw;
  padding: 0.5rem;
  background-color: var(--greenish);
  border-top: var(--deep-dark) 2px solid;
  border-bottom: var(--deep-dark) 2px solid;
}

.side-menu h2 {
  font-size: 1.2rem;
  font-style: italic;
}

.side-menu ul li .selected {
  color: var(--green);
}

.side-menu li, 
.side-menu a, 
.side-menu a:visited, 
.side-menu a:active {
  color: var(--light-green);
  padding: 1rem 0rem;
}

.side-menu a:hover,
.side-menu .selected:hover {
  color: rgb(164, 199, 184);
}


@media screen and (max-width: 600px) {
  .side-menu {
    width: 100%;
    position: static;
  }
  .side-menu ul {
    position: static;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.5rem
  }
}