.table {
  width: 55vw;
  border-collapse: collapse;
  background-color: var(--grayish);
  border: #212522 1px solid;
}

.table th, td {
  padding: 0.5rem;
  border: var(--dark-green) 2px solid;
}

.table th {
  font-size: 1.2rem;
}

@media screen and (max-width: 600px) {
  .table {
    width: 100%;
  }

  .table th, td {
    font-size: 0.9rem;
  }
}