.table {
  width: 55vw;
  border-collapse: collapse;
  background-color: rgb(40, 59, 43);
  border: #212522 1px solid;
}

.table th, td {
  padding: 0.3rem;
  border: #859289 1px solid;
  font-size: 0.9rem;
}